<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body align="center">
    <h1>Login</h1>
<form action="submit" method="POST">{%csrf_token%}
    <div>
        <label><b>Usuário:&nbsp</b></label>
            <input type="text" name="username">
<br>
        <label><b>Senha:&nbsp&nbsp&nbsp&nbsp</b></label>
            <input type="password" name="password">
<br><br>
            <button type="submit">Submit</button>
<br><br>
</div>

</form>
<div align="center">
    {%for message in messages%}
    
    <strong><b><h1>ErOR!</h1></b></strong> 
    
    <h1 style="color:crimson">
    {{message}}
    </h1>
    {%endfor%}
</div>
</body>
</html>